@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&family=Poppins:wght@300;400;500;600&display=swap");

/*
! tailwindcss v3.0.24 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
*/

html {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/*
Ensure the default browser behavior of the `hidden` attribute.
*/

[hidden] {
  display: none;
}

*, ::before, ::after{
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.bottom-4{
  bottom: 1rem;
}

.left-1\/2{
  left: 50%;
}

.top-3{
  top: 0.75rem;
}

.right-3{
  right: 0.75rem;
}

.left-\[calc\(-50vw\+50\%\)\]{
  left: calc(-50vw + 50%);
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.mx-2{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-16{
  margin-left: 4rem;
  margin-right: 4rem;
}

.my-8{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-6{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mx-4{
  margin-left: 1rem;
  margin-right: 1rem;
}

.ml-12{
  margin-left: 3rem;
}

.mb-6{
  margin-bottom: 1.5rem;
}

.mb-8{
  margin-bottom: 2rem;
}

.mt-8{
  margin-top: 2rem;
}

.mb-3{
  margin-bottom: 0.75rem;
}

.ml-2{
  margin-left: 0.5rem;
}

.mb-24{
  margin-bottom: 6rem;
}

.mb-5{
  margin-bottom: 1.25rem;
}

.mb-4{
  margin-bottom: 1rem;
}

.mb-16{
  margin-bottom: 4rem;
}

.flex{
  display: flex;
}

.grid{
  display: grid;
}

.hidden{
  display: none;
}

.h-6{
  height: 1.5rem;
}

.h-\[600px\]{
  height: 600px;
}

.h-full{
  height: 100%;
}

.h-\[400px\]{
  height: 400px;
}

.h-\[380px\]{
  height: 380px;
}

.h-\[280px\]{
  height: 280px;
}

.h-\[130px\]{
  height: 130px;
}

.h-\[300px\]{
  height: 300px;
}

.h-\[350px\]{
  height: 350px;
}

.h-px{
  height: 1px;
}

.max-h-\[54px\]{
  max-height: 54px;
}

.min-h-\[350px\]{
  min-height: 350px;
}

.w-full{
  width: 100%;
}

.w-6{
  width: 1.5rem;
}

.w-max{
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.w-\[95\%\]{
  width: 95%;
}

.w-11\/12{
  width: 91.666667%;
}

.w-\[100px\]{
  width: 100px;
}

.w-\[100vw\]{
  width: 100vw;
}

.w-8{
  width: 2rem;
}

.w-\[350px\]{
  width: 350px;
}

.max-w-screen-2xl{
  max-width: 1536px;
}

.max-w-\[80\%\]{
  max-width: 80%;
}

.grow{
  flex-grow: 1;
}

.basis-2\/6{
  flex-basis: 33.333333%;
}

.basis-3\/6{
  flex-basis: 50%;
}

.basis-1\/6{
  flex-basis: 16.666667%;
}

.basis-1\/2{
  flex-basis: 50%;
}

.basis-2\/3{
  flex-basis: 66.666667%;
}

.basis-1\/3{
  flex-basis: 33.333333%;
}

.-translate-x-1\/2{
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer{
  cursor: pointer;
}

.grid-cols-1{
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.flex-row{
  flex-direction: row;
}

.flex-col{
  flex-direction: column;
}

.items-center{
  align-items: center;
}

.justify-end{
  justify-content: flex-end;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.gap-8{
  gap: 2rem;
}

.gap-5{
  gap: 1.25rem;
}

.gap-3{
  gap: 0.75rem;
}

.gap-12{
  gap: 3rem;
}

.border-\[1px\]{
  border-width: 1px;
}

.border-gray-700{
  --tw-border-opacity: 1;
  border-color: rgb(55 65 81 / var(--tw-border-opacity));
}

.bg-orange-400{
  --tw-bg-opacity: 1;
  background-color: rgb(251 146 60 / var(--tw-bg-opacity));
}

.bg-gray-900{
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}

.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-\[\#1d1f2e\]{
  --tw-bg-opacity: 1;
  background-color: rgb(29 31 46 / var(--tw-bg-opacity));
}

.bg-gray-700{
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
}

.bg-inherit{
  background-color: inherit;
}

.bg-opacity-40{
  --tw-bg-opacity: 0.4;
}

.bg-\[url\(\'\.\/image\/slider-bg\.jpeg\'\)\]{
  background-image: url('./image/slider-bg.jpeg');
}

.bg-\[url\(\'\.\/image\/featured-mug-01\.jpg\'\)\]{
  background-image: url('./image/featured-mug-01.jpg');
}

.bg-\[url\(\'\.\/image\/featured-mug-02\.jpg\'\)\]{
  background-image: url('./image/featured-mug-02.jpg');
}

.bg-\[url\(\'\.\/image\/more-products\/red-love-cup\.jpeg\'\)\]{
  background-image: url('./image/more-products/red-love-cup.jpeg');
}

.bg-\[url\(\'\.\/image\/more-products\/black-tea-cup\.jpeg\'\)\]{
  background-image: url('./image/more-products/black-tea-cup.jpeg');
}

.bg-\[url\(\'\.\/image\/more-products\/B\&W-Essentials-Mug\.jpeg\'\)\]{
  background-image: url('./image/more-products/B&W-Essentials-Mug.jpeg');
}

.bg-\[url\(\'\.\/image\/more-products\/Winter-Style-Mug\.jpeg\'\)\]{
  background-image: url('./image/more-products/Winter-Style-Mug.jpeg');
}

.bg-\[url\(\'\.\/image\/more-products\/Ceramic-Tea\.jpeg\'\)\]{
  background-image: url('./image/more-products/Ceramic-Tea.jpeg');
}

.bg-\[url\(\'\.\/image\/more-products\/No-Handle-Bar-Cup\.jpeg\'\)\]{
  background-image: url('./image/more-products/No-Handle-Bar-Cup.jpeg');
}

.bg-\[url\(\'\.\/image\/more-products\/Espresso-Cup-by-Mugs\.jpeg\'\)\]{
  background-image: url('./image/more-products/Espresso-Cup-by-Mugs.jpeg');
}

.bg-\[url\(\'\.\/image\/more-products\/Pink-Premium-Ceramic\.jpeg\'\)\]{
  background-image: url('./image/more-products/Pink-Premium-Ceramic.jpeg');
}

.bg-\[url\(\'\.\/image\/more-products\/Summer-Designer-Cup\.jpeg\'\)\]{
  background-image: url('./image/more-products/Summer-Designer-Cup.jpeg');
}

.bg-\[url\(\'\.\/image\/magazine-image-01\.jpeg\'\)\]{
  background-image: url('./image/magazine-image-01.jpeg');
}

.bg-\[url\(\'\.\/image\/magazine-image-02\.jpeg\'\)\]{
  background-image: url('./image/magazine-image-02.jpeg');
}

.bg-\[url\(\'\.\/image\/magazine-image-03\.jpeg\'\)\]{
  background-image: url('./image/magazine-image-03.jpeg');
}

.bg-\[url\(\'\.\/image\/bg-parallax-01\.jpeg\'\)\]{
  background-image: url('./image/bg-parallax-01.jpeg');
}

.bg-\[url\(\'\.\/image\/lifestyle-story-01\.jpeg\'\)\]{
  background-image: url('./image/lifestyle-story-01.jpeg');
}

.bg-\[url\(\'\.\/image\/lifestyle-story-02\.jpeg\'\)\]{
  background-image: url('./image/lifestyle-story-02.jpeg');
}

.bg-\[url\(\'\.\/image\/lifestyle-story-03\.jpeg\'\)\]{
  background-image: url('./image/lifestyle-story-03.jpeg');
}

.bg-cover{
  background-size: cover;
}

.bg-fixed{
  background-attachment: fixed;
}

.bg-bottom{
  background-position: bottom;
}

.bg-center{
  background-position: center;
}

.bg-no-repeat{
  background-repeat: no-repeat;
}

.object-cover{
  -o-object-fit: cover;
     object-fit: cover;
}

.p-6{
  padding: 1.5rem;
}

.px-8{
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-3{
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-2{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-6{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-4{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pl-8{
  padding-left: 2rem;
}

.pb-24{
  padding-bottom: 6rem;
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.font-Karla{
  font-family: Karla, sans-serif;
}

.text-base{
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-xl{
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-5xl{
  font-size: 3rem;
  line-height: 1;
}

.text-lg{
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-3xl{
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-xs{
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-4xl{
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-\[13px\]{
  font-size: 13px;
}

.text-\[22px\]{
  font-size: 22px;
}

.font-semibold{
  font-weight: 600;
}

.font-medium{
  font-weight: 500;
}

.font-bold{
  font-weight: 700;
}

.uppercase{
  text-transform: uppercase;
}

.leading-10{
  line-height: 2.5rem;
}

.leading-7{
  line-height: 1.75rem;
}

.leading-5{
  line-height: 1.25rem;
}

.tracking-widest{
  letter-spacing: 0.1em;
}

.tracking-wider{
  letter-spacing: 0.05em;
}

.tracking-wide{
  letter-spacing: 0.025em;
}

.text-gray-500{
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-gray-900{
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}

.text-coffee-400{
  --tw-text-opacity: 1;
  color: rgb(162 95 72 / var(--tw-text-opacity));
}

.text-gray-400{
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

.text-gray-800{
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
}

.text-gray-600{
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}

.line-through{
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

.outline-none{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.duration-500{
  transition-duration: 500ms;
}

.htp-top-menu-expanded{
  position: absolute;
  top: 2.5rem;
  z-index: 50;
  width: 100%;
}

@-webkit-keyframes slideDown{
  0%{
    transform: translateY(-100%);
  }

  100%{
    transform: translateY(0);
  }
}

@keyframes slideDown{
  0%{
    transform: translateY(-100%);
  }

  100%{
    transform: translateY(0);
  }
}

.htp-top-menu-expanded{
  -webkit-animation: slideDown .5s ease-in-out;
          animation: slideDown .5s ease-in-out;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  text-align: center;
}

.htp-top-menu-item{
  position: relative;
  cursor: pointer;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.htp-top-menu-item:hover{
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
}

@media (min-width: 1024px){
  .htp-top-menu-item::after{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 0.125rem;
    width: 0px;
    --tw-bg-opacity: 1;
    background-color: rgb(200 159 148 / var(--tw-bg-opacity));
    transition-property: all;
    transition-duration: 300ms;
    content: var(--tw-content);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .htp-top-menu-item:hover::after{
    content: var(--tw-content);
    width: 100%;
  }
}

.htp-top-menu-item-active{
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
}

.htp-icon{
  display: inline-block;
  height: 1.25rem;
  width: 1.25rem;
}

.htp-badge-circle{
  border-radius: 9999px;
  padding-left: 0.375rem;
  padding-right: 0.375rem;
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
}

.htp-subheadline{
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.htp-sucheadline-deco-line{
  height: 1px;
  width: 2rem;
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

.htp-sucheadline-lable{
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.htp-button{
  cursor: pointer;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.htp-button:hover{
  --tw-bg-opacity: 0.95;
}

#root {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
  /* ... */
}

.htp-parallax,
.htp-no-parallax {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.htp-parallax {
  height: 40vh;
}

.htp-no-parallax {
  height: auto;
  z-index: 999;
  background: white;
}

.htp-parallax-image {
  position: absolute;
  width: 100%;
  height: 100%;
  /* ... */
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@media (min-width: 1280px) {
  .htp-parallax {
    height: 70vh;
    transform-style: preserve-3d;
  }

  .htp-parallax-image {
    transform: translateZ(-1px) scale(1.5);
  }
}

.placeholder\:text-xs::-moz-placeholder{
  font-size: 0.75rem;
  line-height: 1rem;
}

.placeholder\:text-xs:-ms-input-placeholder{
  font-size: 0.75rem;
  line-height: 1rem;
}

.placeholder\:text-xs::placeholder{
  font-size: 0.75rem;
  line-height: 1rem;
}

.placeholder\:font-semibold::-moz-placeholder{
  font-weight: 600;
}

.placeholder\:font-semibold:-ms-input-placeholder{
  font-weight: 600;
}

.placeholder\:font-semibold::placeholder{
  font-weight: 600;
}

.placeholder\:uppercase::-moz-placeholder{
  text-transform: uppercase;
}

.placeholder\:uppercase:-ms-input-placeholder{
  text-transform: uppercase;
}

.placeholder\:uppercase::placeholder{
  text-transform: uppercase;
}

.placeholder\:tracking-widest::-moz-placeholder{
  letter-spacing: 0.1em;
}

.placeholder\:tracking-widest:-ms-input-placeholder{
  letter-spacing: 0.1em;
}

.placeholder\:tracking-widest::placeholder{
  letter-spacing: 0.1em;
}

.after\:absolute::after{
  content: var(--tw-content);
  position: absolute;
}

.after\:-bottom-2::after{
  content: var(--tw-content);
  bottom: -0.5rem;
}

.after\:left-0::after{
  content: var(--tw-content);
  left: 0px;
}

.after\:h-0\.5::after{
  content: var(--tw-content);
  height: 0.125rem;
}

.after\:h-0::after{
  content: var(--tw-content);
  height: 0px;
}

.after\:w-full::after{
  content: var(--tw-content);
  width: 100%;
}

.after\:bg-coffee-50::after{
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(232 214 208 / var(--tw-bg-opacity));
}

.after\:transition-all::after{
  content: var(--tw-content);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.after\:ease-in-out::after{
  content: var(--tw-content);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hover\:border-gray-300:hover{
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}

.hover\:bg-gray-900:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}

.hover\:bg-opacity-10:hover{
  --tw-bg-opacity: 0.1;
}

.hover\:text-coffee-600:hover{
  --tw-text-opacity: 1;
  color: rgb(116 72 56 / var(--tw-text-opacity));
}

.hover\:text-coffee-400:hover{
  --tw-text-opacity: 1;
  color: rgb(162 95 72 / var(--tw-text-opacity));
}

.hover\:transition-all:hover{
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.hover\:ease-in-out:hover{
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hover\:after\:bg-coffee-200:hover::after{
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(200 159 148 / var(--tw-bg-opacity));
}

.focus\:border-gray-300:focus{
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}

.group:hover .group-hover\:block{
  display: block;
}

@-webkit-keyframes fadeIn{
  from{
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}

@keyframes fadeIn{
  from{
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}

.group:hover .group-hover\:animate-fadeIn{
  -webkit-animation: fadeIn .5s ease-in-out;
          animation: fadeIn .5s ease-in-out;
}

@media (min-width: 480px){
  .xs\:mb-5{
    margin-bottom: 1.25rem;
  }

  .xs\:h-\[200px\]{
    height: 200px;
  }

  .xs\:max-w-full{
    max-width: 100%;
  }

  .xs\:gap-5{
    gap: 1.25rem;
  }

  .xs\:px-0{
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (min-width: 640px){
  .sm\:h-\[540px\]{
    height: 540px;
  }

  .sm\:px-8{
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 768px){
  .md\:mx-0{
    margin-left: 0px;
    margin-right: 0px;
  }

  .md\:mb-0{
    margin-bottom: 0px;
  }

  .md\:mb-20{
    margin-bottom: 5rem;
  }

  .md\:mb-4{
    margin-bottom: 1rem;
  }

  .md\:flex{
    display: flex;
  }

  .md\:h-\[130px\]{
    height: 130px;
  }

  .md\:h-\[500px\]{
    height: 500px;
  }

  .md\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:flex-row{
    flex-direction: row;
  }

  .md\:flex-col{
    flex-direction: column;
  }

  .md\:gap-4{
    gap: 1rem;
  }

  .md\:gap-8{
    gap: 2rem;
  }

  .md\:text-left{
    text-align: left;
  }
}

@media (min-width: 1024px){
  .lg\:flex{
    display: flex;
  }

  .lg\:hidden{
    display: none;
  }

  .lg\:w-\[65\%\]{
    width: 65%;
  }

  .lg\:basis-1\/6{
    flex-basis: 16.666667%;
  }

  .lg\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .lg\:grid-cols-3{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .lg\:flex-row{
    flex-direction: row;
  }

  .lg\:items-center{
    align-items: center;
  }

  .lg\:justify-start{
    justify-content: flex-start;
  }

  .lg\:justify-end{
    justify-content: flex-end;
  }

  .lg\:gap-8{
    gap: 2rem;
  }

  .lg\:gap-4{
    gap: 1rem;
  }

  .lg\:pl-6{
    padding-left: 1.5rem;
  }

  .lg\:text-left{
    text-align: left;
  }
}

@media (min-width: 1280px){
  .xl\:w-\[65\%\]{
    width: 65%;
  }

  .xl\:pl-14{
    padding-left: 3.5rem;
  }
}

@media (min-width: 1536px){
  .\32xl\:w-\[65\%\]{
    width: 65%;
  }
}
 