@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&family=Poppins:wght@300;400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.htp-top-menu-expanded {
  @apply absolute top-10 z-50 w-full text-center bg-white animate-slideDown;
}

.htp-top-menu-item {
  @apply cursor-pointer py-1 hover:text-gray-800 relative after:lg:absolute after:lg:bottom-0 after:lg:left-0 after:lg:bg-coffee-200 
  after:lg:h-0.5 after:lg:w-0 hover:after:lg:w-full after:lg:transition-all after:lg:ease-in-out after:lg:duration-300;
}

.htp-top-menu-item-active {
  @apply text-gray-800;
}

.htp-icon {
  @apply w-5 h-5 inline-block;
}

.htp-badge-circle {
  @apply text-xs text-center rounded-full px-1.5;
}

.htp-subheadline {
  @apply flex justify-center items-center my-16;
}

.htp-sucheadline-deco-line {
  @apply w-8 h-px bg-gray-200;
}

.htp-sucheadline-lable {
  @apply uppercase mx-4 tracking-widest text-gray-500 font-medium text-xs text-center;
}

.htp-button {
  @apply text-center uppercase tracking-wider py-4 px-8 text-sm font-semibold cursor-pointer hover:bg-opacity-95;
}

#root {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
  /* ... */
}

.htp-parallax,
.htp-no-parallax {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.htp-parallax {
  height: 40vh;
}

.htp-no-parallax {
  height: auto;
  z-index: 999;
  background: white;
}

.htp-parallax-image {
  position: absolute;
  width: 100%;
  height: 100%;
  /* ... */
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@media screen(xl) {
  .htp-parallax {
    height: 70vh;
    transform-style: preserve-3d;
  }

  .htp-parallax-image {
  transform: translateZ(-1px) scale(1.5);

  }
}
 